<app-header-valid-user></app-header-valid-user>
<div class="container">
  <div class="row">
    <div class="col-12">
      <section id="posy-my-ad">
        <div class="page-head">
          <h3>POST Help Wanted Ad</h3>
          <button (click)="submitHWA()" class="btn success-btn">Pay & Post HWA</button>
        </div>
        <div class="hwa-info-blk text-center">
          <h6> <span>Help Wanted Ad Posting Details</span>
            <span class="post-info-text">(Talentrackr Help Wanted Ads Run for 60 Days)</span> 
          </h6>
          <div class="row start-end-date">
            <div class="col-6 form-group filled-form">
              <label for="start">Ad start date</label>
              <input [owlDateTime]="dt1" [(ngModel)]="selectedMoment" [owlDateTimeTrigger]="dt1" (dateTimeChange)="selectstartDate($event)" placeHolder="mm/dd/yyyy" [min]= "hideolddate" [selectMode]="'single'" [(ngModel)]="momentValue" class="date myInputStyle"/>
              <owl-date-time  [pickerType]="'calendar'" #dt1></owl-date-time>
            </div>
            <div class="col-6 form-group filled-form">
              <label for="end">Ad end date</label>
              <input class="myInputStyle" [ngModel]="endDatevalue | date: 'MM/dd/yyyy'" (ngModelChange)="endDatevalue=$event"/>
            </div>
          </div>
        </div>
        <h5 class="hwa-title">Sales Executive Outdoor Marketing</h5>
        <div class="cost-blk text-center">
          <h6>want your ad to run longer than 60 days, save money and pre-buy an ad extension</h6>
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <button class="btn no-bg-btn radio row">
                <div class="col-1">
                  <input type="radio" value="7" (change)="selectstartDate($event)" (ngModelChange)="onChange($event)" [(ngModel)]="additionalDays" name="extend" checked>
                </div>
                <div class="col-8">
                  <span>Post for <b>7 </b>days</span>
                </div>
                <div class="col-3">
                  <button class="btn">$ 12.50</button>
                </div>
              </button>
            </div>
            <div class="col-lg-6 col-sm-12">
              <button class="btn no-bg-btn radio row">
                <div class="col-1">
                  <input type="radio" (change)="selectstartDate($event)" (ngModelChange)="onChange($event)" [(ngModel)]="additionalDays" name="extend" value="14">
                </div>
                <div class="col-8">
                  <span>Post for <b>14 </b>days</span>
                </div>
                <div class="col-3">
                  <button class="btn">$ 25.00</button>
                </div>
              </button>
            </div>
          </div>
          <p>Expiration date of your ad is, <b class="primary-blue">{{endDatevalue | date: 'MM/dd/yyyy' }}</b></p>
          <div class="coupon-btn d-none">
            <p>Have a discount coupon? Apply</p>
            <button class="dotted-btn btn">TTR-DISC-9784</button>
            <img src="../../assets/next.png" class="img-responsive next-icon" />
            <p class="primary-green success-msg f14">Coupon applied successfully!</p>
          </div>
        </div>
        <div class="summary-block text-center">
          <button class="btn">summary of charges</button>
          <div class="cost-details">
            <div class="row">
              <div class="col-6">FRS additional 60 Days</div>
              <div class="col-1"></div>
              <div class="col-2"><b>$25.00</b></div>
            </div>
            <div *ngIf="additionalDays" class="row">
              <div class="col-6">+ Post {{additionalDays}} Days</div>
              <div class="col-1"></div>
              <div class="col-2"><b>${{additionalAmt | number : '1.2-2'}}</b></div>
            </div>
            <div *ngIf="isHaveCopon" class="row">
              <div class="col-6">- Coupon Discount</div>
              <div class="col-1"></div>
              <div class="col-2"><b>$4.00</b></div>
            </div>
          </div>
          <div class="cost-total primary-green">
            <div class="row">
              <div class="col-6"><b>Total</b></div>
              <div class="col-1"></div>
              <div class="col-2"><b>${{totalAmt | number : '1.2-2'}}</b></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<div class="modal fade" id="paymentModel" tabindex="-1" role="dialog" aria-labelledby="bisLocationModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Payment</h5>
          <span class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </span>
        </div>
        <div class="modal-body text-center">
          <h5>{{title}}</h5>

          <form #form class="form-inline" name="_xclick" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" style="display: inline-flex;">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="customersuccess@talentrackr.com">
            <input type="hidden" name="currency_code" value="{{currencyCode}}">
            <input type="hidden" name="item_name" value="{{positionTitle}}">
            <input type="hidden" name="item_number"  value="1"/>
            <span class="usd" >$</span>
            <input type="text" name="amount" class="form-control" size="5" readonly id="paypalAmount" [ngModel]="paymentAmt | number : '1.2-2'" style="font-size:22px; text-align: center; border-radius:4px; border: 1px solid #333; padding:0 20px; margin-right: 20px;"/>
            <input type="hidden" name="return" value="{{drupalDomainUrl}}/payment_process/?hwa_id={{hwaUid}}&&start_date={{start_date}}&&end_date={{end_date}}&&extend_date_days={{extend_date_days}}&&uid={{uid}}&&extended={{action}}&&amount={{paymentAmt}}&&currency={{currencyCode}}&&actual_datetime={{currentDateTimestamp}}&&angular_url={{domainUrl}}" />
            <input type="hidden" name="cancel_return" value="{{domainUrl}}/all-hwa-list" />
            <input type="hidden" name="custom" value={{title}}>
           
            <input name="notify_url" value="{{domainUrl}}/hwa_workflow" type="hidden">
            <br/>
            <br/>
            <input (click)="form.submit()" type="image" src="assets/PaynPostMyAd.png" border="0"
                   name="submit" alt="Make payments with PayPal - it's fast, free and secure!"/>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
-->
<!--
<div class="modal fade modal-fullscreen  footer-to-bottom" id="paymentModel" tabindex="-1" role="dialog" aria-labelledby="bisLocationModel" aria-hidden="true">
  <div class="modal-dialog animated zoomInLeft">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Payment</h5>
            <span class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </span>
          </div>
      <div class="modal-body">
        <section class="section--center">
          <div class="mdl-cell mdl-cell--5-col" id="loggedInPage">
            <div class="grid">
              <div class="mdl-cell mdl-cell--12-col">
                <h1 style="margin-top: 100px; font-weight: 300">{{title}}</h1>
              </div>
              <div class="frs_card_wrapper" style="display: inherit; margin-top: 30px;">

                <form #form class="form-inline" name="_xclick" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" style="display: inline-flex;">
                  <input type="hidden" name="cmd" value="_xclick">
                  <input type="hidden" name="business" value="customersuccess@talentrackr.com">
                  <input type="hidden" name="currency_code" value="{{currencyCode}}">
                  <input type="hidden" name="item_name" value="{{positionTitle}}">
                  <input type="hidden" name="item_number"  value="1"/>
                  <span class="usd" >$</span>
                  <input type="text" name="amount" class="form-control" size="5" readonly id="paypalAmount" [ngModel]="paymentAmt | number : '1.2-2'" style="font-size:22px; text-align: center; border-radius:4px; border: 1px solid #333; padding:0 20px; margin-right: 20px;"/>
                  <input type="hidden" name="return" value="{{drupalDomainUrl}}/payment_process/?hwa_id={{hwaUid}}&&start_date={{start_date}}&&end_date={{end_date}}&&extend_date_days={{extend_date_days}}&&uid={{uid}}&&extended={{action}}&&amount={{paymentAmt}}&&currency={{currencyCode}}&&actual_datetime={{currentDateTimestamp}}&&angular_url={{domainUrl}}" />
                  <input type="hidden" name="cancel_return" value="{{domainUrl}}/all-hwa-list" />
                  <input type="hidden" name="custom" value={{title}}>
                 
                  <input name="notify_url" value="{{domainUrl}}/hwa_workflow" type="hidden">
                  <br/>
                  <br/>
                  <input (click)="form.submit()" type="image" src="assets/PaynPostMyAd.png" border="0"
                         name="submit" alt="Make payments with PayPal - it's fast, free and secure!"/>
                </form>
              </div>
            </div>
          </div>
        </section>
        
      </div>
      <div class="modal-footer"> </div>
    </div>
    
  </div>
  
</div> -->

