label.radio {
    display: block;
}
.radio span {
    vertical-align: sub;
}
.cost-blk label {
    color: #002d40;
}
.cost-blk .btn {
    float: right;
    clear: both;
    color: #002d40;
    background-color: #fff;
}
.cost-blk label .btn {
    box-shadow: 0px 0px 1px 1px #ddd;
}
.cost-blk label.active {
    color: #fff;
    background-color: #002d40;
}

.dotted-btn {
    border: 1px dashed #ccc;
}
.cost-blk .coupon-btn .btn {
    float: none;
    display: inline-block;
    position: relative;
    padding: 10px 70px;
}
.coupon-btn {
    position: relative;
    padding: 40px 0;
}
.next-icon {
    position: absolute;
    width: 44px;
    margin-left: -25px;
}
.cost-total {
    border-top: 1px solid #ccc;
}
.summary-block {
    border-top: 1px solid #ccc;
    text-align: center;
}
.summary-block .btn {
    margin-top: -30px;
}
.cost-blk {
    width: 80%;
    margin: auto;
}
.cost-blk p,
.coupon-btn {
    text-align: center;
    margin: 0.25rem 0;
}
.cost-details,
.cost-total {
    width: 80%;
    margin: auto;
    padding: 10px 0;
}
.cost-details {
    border-bottom: 1px solid #ccc;
    padding: 5px 0 10px;
}
.summary-block .row {
    padding: 5px 0 10px;
}
h4 {
    font-size: 21px;
    padding: 20px;
    width: 80%;
    margin: auto;
}
.success-msg {
    font-size: 14px;
}
.cost-blk .radio input[type="radio"] {
    left: 0;
}
label.radio {
    width: 80%;
    border: 2px solid #002d40;
    border-radius: 35px;
    margin: 10px auto;
    padding: 10px 15px;
    box-sizing: border-box;
    overflow: hidden;
}
input[type="radio"]:checked:parent {
    background-color: #002d40;
}
.post-info-text {
    color: #b8860b;
    font-weight: bold;
}
@media screen and (min-width: 1025px) {
    label.radio {
        width: 35%;
        padding: 10px 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    label.radio {
        padding: 10px 40px;
    }
}
