<app-header-valid-user></app-header-valid-user>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <section id="login">  
        <div class="login-blk">
          <div class="deskWidth">
            <div class="page-head">
              <h3>Post Help Wanted Ad</h3>
              <button class="btn success-btn">Pay & Post HWA</button>
            </div>
            <h5 class="hwa-title">Sales Executive Outdoor Marketing</h5>
            <div class="cost-blk">
              <h4>How long you want to publish your ad ?</h4>
                <label class="custom-control custom-radio">
                  <input id="radio1" name="radio" type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Post for <b>7 </b>days</span>
                  <button class="btn">$ 12.50</button>
                </label>
              
              
                <label class="custom-control custom-radio active">
                  <input id="radio2" name="radio" type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Post for <b>14 </b>days</span>
                  <button class="btn">$ 25.00</button>
                </label>
              
                <p>Expiration date of your ad is, <b class="primary-blue">11/20/2017</b></p>
                
                <div class="coupon-btn">
                  <p>Have a discount coupon? Apply</p>
                  <button class="dotted-btn btn">TTR-DISC-9784</button>
                  <img src="../../assets/next.png" class="img-responsive next-icon" />
                  <p class="primary-green success-msg">Coupon applied successfully!</p>
                </div>
            </div>

            <div class="summary-block">
              <button class="btn">summary of charges</button>
                <div class="cost-details">
                  <div class="row">
                    <div class="col-6">+ Post for 7 days</div>
                    <div class="col-6"><b>$25.00</b></div>
                  </div>
                  <div class="row">
                    <div class="col-6">Coupon Discount</div>
                    <div class="col-6"><b>$4.00</b></div>
                  </div>
                </div>
                <div class="cost-total primary-green">
                  <div class="row">
                    <div class="col-6"><b>Total</b></div>
                    <div class="col-6"><b>$29.00</b></div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
