<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">  
     <!-- <div class="login-blk">
        <div class="header">
          <img src="../../../assets/header-bg.jpg" class="header-bg img-responsive"/>
          <img src="../../../assets/logo-frs.png" class="logo"/>
        </div>  </div>-->
        <app-header-valid-user></app-header-valid-user>
        <div class="deskWidth">
        <div class="inner-page-title">
          <h2>user profile</h2>
          <a (click)="helpText()"><img src="../../assets/question.png"/></a>
        </div>
        <div class="strips">
          <div class="row">
            <div class="col-12">
                <div class="col-4 green-strip"></div>
                <div class="col-4 grey-strip"></div>
                <div class="col-4 grey-strip"></div>
            </div>
          </div>
        </div>
        <div class="section-title">
          <h5>confirm user information</h5>
        </div>
        <div class="form input-section">
          <div class="form-group filled-form">
            <label for="businessName">Name of Your Business</label>
            <input type="text" class="myInputStyle" id="enterEmail" >
            <div class="inline-error"></div>
          </div>

          <div class="form-group filled-form">
            <label for="fname">Your First Name</label>
            <input type="text" class="myInputStyle"  id="pwd" >
            <div class="inline-error">Please enter a valid first name</div>
          </div>
          <div class="form-group filled-form">
            <label for="lname">Your Last Name</label>
            <input type="text" class="myInputStyle" id="enterEmail" >
            <div class="inline-error">Please enter a valid last name</div>
          </div>
          <div class="form-group filled-form">
            <label for="emailid" >Your Email Address</label>
            <input type="email" class="myInputStyle"  id="pwd"  [disabled]>
            <div class="inline-error"></div>
          </div>
          <div class="form-group filled-form">
            <label for="contact">Your Phone Number</label>
            <input type="number" class="myInputStyle"  id="pwd" >
            <div class="inline-error">Phone number must be of 10 digits</div>
          </div>
        </div>

        <div class="goToNextBtn bgGrey">
          <button type="button" class="btn btn-primary" (click)="addLoc()">Confirm User information</button>
        </div>
      </div>
    </section>
  </div>
  </div>
</div>

 <app-help-modal [visible]="helpShow" (closeSection)="helpText()"></app-help-modal>
