<simple-notifications [options]="options"></simple-notifications>
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">  
      <!--  <div class="login-blk">
        
      <div class="header">
          <img src="../../../assets/header-bg.jpg" class="header-bg img-responsive"/>
          <img src="../../../assets/logo-frs.png" class="logo"/>
        </div> 
         </div>-->
           <app-header-valid-user></app-header-valid-user>
        <div class="deskWidth">
          <div class="deskFullWidth">
            <div class="inner-page-title">
              <h2>user profile</h2><a (click)= "helpText()"><img src="../../assets/question.png"/></a>
            </div>
            <div class="strips">
              <div class="row">
                <div class="col-12">
                    <div class="col-4 green-strip"></div>
                    <div class="col-4 green-strip"></div>
                    <div class="col-4 grey-strip"></div>
                </div>
              </div>
            </div>
          </div>

        <div class="section-title">
          <h5>{{titalLbl}}</h5>
          <small class="info">{{subTitel}}</small>
        </div>
  <form [formGroup]="businessAddressForm" (ngSubmit)="onSubmit()"  novalidate>
        <div class="form input-section">
          <div class="form-group filled-form">
            <label for="address1">Address Line 1</label>
            <input type="text"  maxlength="100" formControlName="title" class="myInputStyle" id="address1" >
            <div [hidden]="businessAddressForm.controls['title'].valid || businessAddressForm.controls['title'].pristine" class="inline-error">
                  Please enter address Line 1
                </div>
          </div>

          <div class="form-group filled-form">
            <label for="address2">Address Line 2</label>
            <input type="text"  maxlength="100" formControlName="field_address_line_2" class="myInputStyle"  id="address2" >
            <div [hidden]="businessAddressForm.controls['field_address_line_2'].valid || businessAddressForm.controls['field_address_line_2'].pristine" class="inline-error">
                  Please enter address Line 2
                </div>
          </div>
          <div class="form-group filled-form">
            <label for="zipcode">Zip Code</label>
            <input type="number" (blur)="zipCodeSearch()" mask="00000"  type="text" formControlName="field_z" class="myInputStyle" id="zipcode"  required>
             <div [hidden]="businessAddressForm.controls['field_z'].valid || businessAddressForm.controls['field_z'].pristine" class="inline-error">
                 Please enter a valid zip code
               </div>
              <!-- <span class="error">{{validZipStatus}}</span> -->
          </div>
          <div class="form-group filled-form">
            <label for="state" >State</label>
            <input type="text" maxlength="100" formControlName="field_state" class="myInputStyle"  id="state" readonly="readonly">
           <div [hidden]="businessAddressForm.controls['field_state'].valid || businessAddressForm.controls['field_state'].pristine" class="inline-error">
                 Please enter a valid state
               </div>
          </div>
          <div class="form-group filled-form">
            <label for="city">City</label>
            <input type="text" *ngIf="!showSelect" class="myInputStyle" maxlength="100" id="city" formControlName="field_city" readonly="readonly">
           
              <select id="city" *ngIf="showSelect" name="field_city" formControlName="field_city" >
                <option *ngFor="let city of getCityinfoList">{{city}}</option>
              </select>
            <div class="inline-error"></div>
          </div>
        </div>

        <div *ngIf="!addNewBusFlag" class="goToNextBtn bgGrey">
          <button type="submit" [disabled]="!businessAddressForm.valid || disabledButton" class="btn btn-primary" >{{disabledButton?'Save..': 'Save business location'}}</button>
        </div>

          <div *ngIf="addNewBusFlag">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="field_make_default" value="1" formControlName="field_make_default" class="form-check-input">
                Mark as default business location?
              </label>
            </div>
          
          <div class="goToNextBtn bgGrey">
            <div class="row">
              <div class="col-6">
                <button type="submit" [disabled]="!businessAddressForm.valid || disabledButton" class="btn btn-primary">{{disabledButton?'Save..': 'Save'}}</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary cancel" (click) = "userProfileView()">cancel</button>
              </div>
            </div>
          </div>
          </div>
  </form>
      </div>
   
  </section>
  </div>
  </div>
</div>
<!-- <app-help-modal [visible]="helpShow" (closeSection)="helpText()"></app-help-modal> -->