.navbar-brand {
    width: 250px;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.navbar-toggler {
    padding: 0;
    border: 0;
}
.navbar {
    background: url(../../../assets/header-bg.jpg)
}
nav.navbar-light .navbar-toggler-icon {
    background-image: url(../../../assets/menu-lines.svg);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.sidebarOpen .collapse.navbar-collapse {
    background: url(../../../assets/header-bg.png);
    z-index: 2;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 330px;
}
.collapse span.closeIcon {
    width: auto;
    display: inline;
    padding: 0;
}
.collapse .navbar-brand {
    padding: 11px 15px;
}
.collapse .navbar-brand .logo {
    width: 75%;
}
.navbar-nav {
    padding: 0 15px;
}
.collapse span.closeIcon .close span {
    width: 90%;
}