
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12">
     <section id="login">  -->
<div class="login-blk"> 

<nav class="navbar navbar-toggleable-md navbar-light bg-faded" [ngClass]="{'sidebarOpen':checkOpen}">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="sideBarOpen()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/login']">
    <img src="../../../assets/logo-frs.png" class="logo"/>
  </a>
  <a class="notification"><img src="../../../assets/notification.png"/></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <div class="row">
      <div class="col-9">
        <a class="navbar-brand" [routerLink]="['/login']">
          <img src="../../../assets/logo-frs.png" class="logo"/>
        </a>
      </div>
      <div class="col-2">
        <span class="closeIcon">
          <button type="button" class="close" data-toggle="modal" (click)="closeHelp()">
            <span aria-hidden="true">&times;</span>
          </button>
        </span>
      </div>
    </div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Settings</a>
      </li>
       <li class="nav-item">
        <a class="nav-link disabled" (click)="logout()">Logout</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
    </div>
   <!--  </section>
    </div>
  </div>
</div> -->