<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">  
      <div class="login-blk">
        <div class="header">
          <img src="../../../assets/header-bg.jpg" class="header-bg img-responsive"/>
          <img src="../../../assets/logo-frs.png" class="logo"/>
        </div>
        <div class="deskWidth">
        <div class="page-title">
          <h2>set your new password</h2>
        </div>
         <simple-notifications [options]="options"></simple-notifications>
        <form [formGroup]="resetPassword" (ngSubmit)="onSubmit(resetPassword.value)">
        <div class="form input-section">
          <!-- <div class="form-group filled-form">
            <label for="enterEmail">New Password</label>
            <input type="password" class="myInputStyle" minlength="8" maxlength="26" 
            validateEqual="cpassword" reverse="true" appFloatLabelDirective="" show-hide-input id="pwd" formControlName="password" name="password" required>
          
             <div [hidden]="resetPassword.controls['password'].valid || resetPassword.controls['password'].pristine" class="inline-error">
                  Password is not valid. Minimum 8 characters with at least 1 capital letter, 1 number and 1 special character (For Eg. !@#).
              </div>
              <div class="show-password"><input type="checkbox" id="show-pass-check-1" (change)="toggleShow()"> Show Password</div>
          </div>
         <div class="form-group filled-form">
            <label for="enterEmail">Confirm Password</label>
            <input type="password" class="myInputStyle" maxlength="26"
            validateEqual="password" appFloatLabelDirective="" name="cpassword" formControlName="cpassword" required>
             <div [hidden]="resetPassword.controls['cpassword'].valid || resetPassword.controls['cpassword'].pristine" class="inline-error">
                  Password does not match
                </div> 
          </div> -->
<div class="form-group filled-form">
            <img src="../../assets/dark-eye.png" class="pwd-eye" *ngIf="!show" (click)="toggleShow(true)"/>
             <img src="../../assets/visibility.png" class="pwd-eye" *ngIf="show" (click)="toggleShow(false)"/>
            <label for="enterEmail">Password</label>
            <input validateEqual="cpassword" show-hide-input type="password" reverse="true"  maxlength="26" formControlName="password" name="password" class="myInputStyle passVal" id="pwd" required >
              
              <div [hidden]="resetPassword.controls['password'].valid || resetPassword.controls['password'].pristine" class="inline-error">
                 Password is not valid. Minimum 8 characters with at least 1 capital letter, 1 number and 1 special character (For Eg. !@#).
                </div> 
          </div>


            <div class="form-group filled-form">
            <img src="../../assets/dark-eye.png" class="pwd-eye" *ngIf="!conf_show" (click)="conf_toggleShow(true)"/>
             <img src="../../assets/visibility.png" class="pwd-eye" *ngIf="conf_show" (click)="conf_toggleShow(false)"/>
            <label for="enterEmail">Password</label>
            <input validateEqual="password" show-hide-cnf type="password"  maxlength="26" formControlName="cpassword" name="cpassword" class="myInputStyle passVal" id="confpwd" required>
              <div [hidden]="resetPassword.controls['cpassword'].valid || resetPassword.controls['cpassword'].pristine" class="inline-error">
                Password does not match
                </div> 
          </div>

        </div>

        <div class="goToNextBtn">
          <button type="submit" class="btn btn-primary">submit</button>
        </div>
        </form>
      </div>
    </div>
  </section>
</div>
</div>
</div>

