.hwa-details {
    width: 90%;
    margin: auto;
    padding: 15px 0;
}
.hwa-details h5 {
    /*raheel's color code color: #3e7c95;*/
    color: #002d40;
    font-weight: bold;
}
.preview-head {
    border-bottom: 1px solid #ccc;
}
.busImg {
    min-height: 250px;
    padding: 0;
}
ul.custom-list-style {
    list-style-type: none;
}
ul.custom-list-style li::before {
    content: '- ';
}