<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <section id="login">  
          <app-header-valid-user></app-header-valid-user>
            <div class="deskWidth">
              <div class="preview-head">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6">
                        <h5>Create HWA</h5>
                    </div>
                    <div class="col-5">
                        <button class="btn success-btn">Preview & Post ad</button>
                    </div>
                    <div class="col-1">
                        <img class="kebab-menu" src="../../assets/menu.png"/>
                        <div class="kebab-open">
                          <ul>
                            <li>Save as Draft</li>
                            <li>Discard Ad</li>
                          </ul>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hwa-details">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, 
                    but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <h5>Job Description</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen.
                </p>
                <h5>Responsibilities</h5>
                <ul>
                  <li>Ipsum is simply dummy text of the printing</li>
                  <li>Ipsum is simply dummy text of the printing, simply dummy text of the printing</li>
                </ul>
                <h5>Knock Out Questions</h5>
                <ul class="custom-list-style">
                    <li>Ipsum is simply dummy text of the printing</li>
                    <li>Ipsum is simply dummy text of the printing, simply dummy text of the printing</li>
                </ul>
                <h5>Skill or Experience Questions</h5>
                <ul class="custom-list-style">
                    <li>Ipsum is simply dummy text of the printing</li>
                    <li>Ipsum is simply dummy text of the printing, simply dummy text of the printing</li>
                </ul>
                <h5>Business Profile</h5>
                <div class="business-blk">
                    <div class="busImg">
                        <img src=""/>
                      </div>

                      <div class="form-group filled-form">
                        <span>Topic</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                      </div>
                      <div class="form-group filled-form busDesc">
                        <span>Description</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen.</p>
                      </div>
                </div>
              </div>
              </div> <!-- deskWidth -->
          </section>
        </div>
      </div>
  </div>
