<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">
  
      <div class="login-blk">
        <app-header-registration></app-header-registration>
        <div class="deskWidth">
        <div class="page-title">
          <h2>Forgot your password</h2>
        </div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)" novalidate>
        <p class="page-info">Please enter your valid email address,<br>we will send you a link to reset your password.</p>
        <div class="form input-section">
          <div class="form-group filled-form">
            <label for="enterEmail">Email Address</label>
            <input type="email" class="myInputStyle form-control" id="email"  name="email" formControlName="email" required>
             <div [hidden]="forgotPasswordForm.controls['email'].valid || forgotPasswordForm.controls['email'].pristine" class="inline-error">
                Please enter your valid email address.
              </div>

          </div>
        </div>

        <div class="goToNextBtn">
          <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid || disabledButton">{{disabledButton?'Submit..': 'Submit'}}</button>
        </div>
        </form> 
      </div>
      </div>
    </section>
  </div>
  </div>
</div>