<app-header-valid-user></app-header-valid-user>
<img src="../assets/loader.gif" class="newLoader" *ngIf="!pageLoded">
<simple-notifications [options]="options"></simple-notifications>
<div class="container desktop-width" *ngIf="pageLoded">
  <div class="row">
    <div class="col-12">
      <div id="candidate-list">
        <div class="pageHeading">
          <h2>All Applicants : {{hwaName}} Position</h2>
        </div>
        <div class="allApplicantsListSection">
          <div class="candidate-list">
            <ul class="fadeInDown">
              <li *ngFor="let list of getAllApplicant; let i = index ">
                <!-- All Applicant List-->
                <div class="jobadBlock" *ngIf="(list['field_status'] !== 'interview') && (list['field_status'] !== 'interview-accepted') && (list['field_status'] !== 'interview-declined') && (list['field_status'] !== 'interviewed-on-hold')">
                  <div class="row">
                    <div class="col-6 applicantName">
                      <h6><a [routerLink]="['/view-applicant', hwaName, hwaId, list['field_applicant_author_1'], hwaAuthor]">{{list['field_first_name']}} {{list['field_last_name']}}</a></h6>
                    </div>
                    <div class="col-4 applicantStatus colorOrange">
                        <a [routerLink]="['/view-applicant', hwaName, hwaId, list['field_applicant_author_1'], hwaAuthor]" class="colorAsh">{{list['field_status']}}</a>
                    </div>
                    <div class="col-2 applicantRating">
                        <img *ngIf="list['score'] >= '50'" src="../assets/tup.svg" class="thumbsUpIcon">
                        <p class="rate">{{scoringNumber}}%</p>
                    </div>
                  </div>
                </div>
                <!-- All Applicant List-->
                <!-- Interview Scheduled List-->
                <div class="jobadBlock" *ngIf="list['field_status'] === 'interview'">
                  <div class="row">
                    <div class="col-6 applicantName">
                      <h6><a [routerLink]="['/view-applicant', hwaName, hwaId, list['field_applicant_author_1'], hwaAuthor]">{{list['field_first_name']}} {{list['field_last_name']}}</a></h6>
                      <div class="date">
                          <span>{{ humanReadableTime(list['field_interview_start_datetime']) | date: 'y MMM d'}}</span> at 
                          <span>{{ humanReadableTime(list['field_interview_start_datetime']) | date: 'h:mm a'}}</span>
                      </div>
                    </div>
                    <div class="col-4 applicantStatus colorOrange">
                        <a [routerLink]="['/view-applicant', hwaName, hwaId, list['field_applicant_author_1'], hwaAuthor]" class="colorAsh">
                          <span *ngIf="compareDate(list['field_interview_end_datetime']) === false">Interview Pending</span>
                          <span *ngIf="compareDate(list['field_interview_end_datetime']) === true">No Response</span>
                        </a>
                    </div>
                    <div class="col-2 applicantRating">
                      <button class="btn dropdown float-right transparent-btn">
                        <a data-toggle="dropdown"> <img src="../../assets/kebab.svg" class="all-icon"/> </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li (click)="rescheduledInterview(i)">Reschedule</li>
                            <li (click)="interviewLater(i)">Postpone Interview</li>
                            <li (click)="reject(i)">Reject</li>
                        </ul>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- Interview Scheduled List-->
                <!-- Interview Accepted and Rejected List If NO Time lapse -->
                  <div class="jobadBlock"  *ngIf="compareDate(list['field_interview_end_datetime']) === false && list['field_status'] === 'interview-accepted' || list['field_status'] === 'interview-declined' || list['field_status'] === 'interviewed-on-hold'">
                    <div class="row">
                      <div class="col-6 applicantName">
                        <h6><a [routerLink]="['/view-applicant', hwaName, hwaId, list['field_applicant_author_1'], hwaAuthor]">{{list['field_first_name']}} {{list['field_last_name']}}</a></h6>
                        <div class="date">
                            <span>{{ humanReadableTime(list['field_interview_start_datetime']) | date: 'y MMM d'}}</span> at 
                            <span>{{ humanReadableTime(list['field_interview_start_datetime']) | date: 'h:mm a'}}</span>
                        </div>
                      </div>
                      <div class="col-4 applicantStatus">
                          <a [routerLink]="['/view-applicant', hwaName, hwaId, list['field_applicant_author_1'], hwaAuthor]" class="colorAsh">{{list['field_status']}}</a> 
                      </div>
                      <div class="col-2 applicantRating">
                        <button class="btn dropdown float-right transparent-btn">
                          <a data-toggle="dropdown"> <img src="../../assets/kebab.svg" class="all-icon"/> </a>
                          <ul class="dropdown-menu dropdown-menu-right">
                              <li *ngIf="list['field_status'] === 'interviewed-on-hold'" (click)="goodToOffer(list['field_applicant_author_1'])">Good to Offer</li>
                              <li (click)="rescheduledInterview(i)">Reschedule</li>
                              <li (click)="interviewLater(i)">Postpone Interview</li>
                              <li (click)="reject(i)">Reject</li>
                          </ul>
                        </button>
                      </div>
                    </div>
                  </div>
                <!-- Interview Accepted and Rejected List If NO Time lapse -->
                <!-- Interview Accepted and Rejected List If Time lapse -->
                    <div class="jobadBlock">
                      <div class="row">
                        <div class="col-6 applicantName">
                          <h6><a>longestnamethatcan fitinthecolumn soastocheck</a></h6>
                          <div class="date">
                            <span>Jan 18, 2018</span> at <span>4:49 PM</span>
                          </div>
                        </div>
                        <div class="col-4 applicantStatus">
                          <a>Interview Accepted</a>
                        </div>
                        <div class="col-2 applicantRating">
                          <button class="btn dropdown float-right transparent-btn">
                            <a data-toggle="dropdown"> <img src="../../assets/kebab.svg" class="all-icon"/> </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li><a href="javascript:void(0)">Reschedule</a></li>
                              <li><a href="javascript:void(0)">Postpone Interview</a></li>
                              <li><a href="javascript:void(0)">Reject</a></li>
                            </ul>
                          </button>
                        </div>
                      </div>
                        <div class="row">
                          <div class="col-12">
                            <p class="bottom-line">Interview Not Conducted / Applicants Not Responded / Interview Notes Not Available</p>
                          </div>
                        </div>
                      </div>
                <!-- Interview Accepted and Rejected List If Time lapse -->
                <div class="jobadBlock" *ngIf="compareDate(list['field_interview_end_datetime']) === true &&  list['field_status'] === 'interview-accepted' ">
                    <div class="row">
                      <div class="col-6 applicantName">
                        <h6><a [routerLink]="['/view-applicant', hwaName, hwaId, list['field_applicant_author_1'], hwaAuthor]">{{list['field_first_name']}} {{list['field_last_name']}}</a></h6>
                        <div class="date">
                            <span>{{ humanReadableTime(list['field_interview_start_datetime']) | date: 'y MMM d'}}</span> at 
                            <span>{{ humanReadableTime(list['field_interview_start_datetime']) | date: 'h:mm a'}}</span>
                        </div>
                      </div>
                      <div class="col-4 applicantStatus">
                          Interviewed ? <span><a class="cursor colorBlue" (click)="openDialog(i)">Yes</a> | <a class="cursor colorBlue" (click)="openNegativeDialog(i)">No</a></span> 
                      </div>
                      <div class="col-2 applicantRating">
                        <button class="btn dropdown float-right transparent-btn">
                          <a data-toggle="dropdown"> <img src="../../assets/kebab.svg" class="all-icon"/> </a>
                          <ul class="dropdown-menu dropdown-menu-right">
                              <li (click)="rescheduledInterview(i)">Reschedule</li>
                              <li (click)="interviewLater(i)">Postpone Interview</li>
                              <li (click)="reject(i)">Reject</li>
                          </ul>
                        </button>
                      </div>
                    </div>
                      <div class="row">
                        <div class="col-12">
                          <p class="bottom-line">Interview Not Conducted / Applicants Not Responded / Interview Notes Not Available</p>
                        </div>
                      </div>
                    </div>
                <!-- Interview Accepted and Rejected List If Time lapse -->
              </li>
            </ul>
          </div>
        </div>
      </div> <!-- candidate list ends -->
    </div>
  </div>
</div>

<div class="overlay" *ngIf="showPopup">
    <div class="overlay-wrapper popup simplebar">
      <div class="overlay2text fadeInDown">
        <div class="overlayHead"> 
          <span class="overlayTitle">Interview feedback</span> 
          <span class="overlayClose colorBlack" (click)="closeDialog()">close</span> 
        </div>
        <div class="component">
          <div *ngIf="hideOther">
            <app-positive-notes *ngIf="hideOther" [applicantId]="applicantIdFinal" [authorId]="hwaAuthor" (formSubmit)="formReload($event)"></app-positive-notes>
          </div>
          <div *ngIf="!hideOther" >
            <div class="btn with-bg-btn no-dialog">
              <p>Do you want to,</p>
              <button (click)="rescheduledInterview2()" class="btn with-bg-btn"> 
                Reschedule interview 
              </button>
              <button (click)="reject2()" class="btn with-bg-btn"> 
                Reject applicant 
              </button>
            </div>
            <app-negative-notes *ngIf="!hideOther && showThis"  [applicantId]="applicantIdFinal" [authorId]="hwaAuthor" (submitndClose)="formReload($event)" [buttonFalse]="showPopup" ></app-negative-notes>
           
          </div>
        </div>
      </div>
    </div>
  </div>
