<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">  
      <div class="login-blk">
        <app-header-valid-user></app-header-valid-user>
        <div class="deskWidth">
        <div class="inner-page-title">
          <h2>business profile</h2><a (click)="helpText()"><img src="../../assets/question.png"/></a>
        </div>
        <div class="strips">
          <div class="row">
            <div class="col-12">
                <div class="col-4 green-strip"></div>
                <div class="col-4 green-strip"></div>
                <div class="col-4 green-strip"></div>
            </div>
          </div>
        </div>

        <div class="form input-section">
         
       <ng-container *ngFor="let topic of businessTopic"> 
         
         <hr>
          <div class="busImg">
            <img [src]="topic?.field_business_profile_topic_ima"/>
          </div>

         <div style="padding: 10px;" class="form-group filled-form">
         <a style="padding: 2px;" [routerLink]="['/business-profile', bisProfileId, topic.item_id]" class="">Edit</a>
         </div>
          <div class="form-group filled-form">
            <span>Topic</span>
            <p>{{topic?.field_topic}}</p>
          </div>
          <div class="form-group filled-form busDesc">
            <span>Description</span>
            <p>{{topic?.field_business_profile_topic_des}} </p>
          </div>
       </ng-container>

          <div class="show-more">
            <div class="row">
              <div class="col-12">
                <a href="Javascript:void(0)" class="actionAnchor">Show more</a>
              </div>
            </div>
          </div>
        </div>

        <div class="add-new">
          <div class="row">
            <div class="col-12">
                <img src="../../assets/plus.png" class="all-icon"/>
                <a [routerLink]="['/business-profile', bisProfileId, 'new']" class="actionAnchor">Add New Topic</a>
            </div>
          </div>
        </div>
        <div class="goToNextBtn bgGrey">
          <button type="button" (click)="createHWA()" class="btn btn-primary" >Create Help Wanted Ad</button>
        </div>
        </div>
      </div>
    </section>
  </div>
  </div>
</div>
<!-- <app-help-modal [visible]="helpShow" (closeSection)="helpText()"></app-help-modal>-->