<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">  
    <app-header-registration ></app-header-registration> 
		<div class="deskWidth">
 <!--  [ngFormOptions]="{ updateOn: 'submit' }"  -->
  <form [formGroup]="registerUser" (ngSubmit)="onSubmit(registerUser, registerUser.valid)" novalidate >
        <div class="page-title">
          <h2>registration</h2>
        </div>
        <div class="form input-section">
          <div class="form-group filled-form">
            <label for="businessName">Name of Your Business</label>
            <input type="text" class="myInputStyle" id="enterEmail" formControlName="businessname" required>
           <!--  <div class="inline-error" *ngIf="!registerUser.controls['businessname'].valid">-->
                 <div [hidden]="registerUser.controls['businessname'].valid || registerUser.controls['businessname'].pristine" class="inline-error">
                 Please enter a Business name
                </div>
        
          </div>

          <div class="form-group filled-form">
            <label for="fname">Your First Name</label>
            <input type="text" class="myInputStyle"  id="pwd" formControlName="firstname" pattern="^(^[^\s]+[A-z][A-Za-z]*\s+[A-Za-z]*)|([A-z][A-Za-z]*)$" required>
             <!-- <div class="inline-error" [hidden]="registerUser.controls['firstname'].valid"> -->
                <div [hidden]="registerUser.controls['firstname'].valid || registerUser.controls['firstname'].pristine" class="inline-error">
                 Please enter first name
                </div>
          </div>
          <div class="form-group filled-form">
            <label for="lname">Your Last Name</label>
            <input type="text" class="myInputStyle"  formControlName="lastname" pattern="^(^[^\s]+[A-z][A-Za-z]*\s+[A-Za-z]*)|([A-z][A-Za-z]*)$" required>

            <!-- <div class="inline-error" *ngIf="!registerUser.controls['lastname'].valid"> -->
              <div [hidden]="registerUser.controls['lastname'].valid || registerUser.controls['lastname'].pristine" class="inline-error">
                  Please enter last name
                </div>
          </div>
          <div class="form-group filled-form">
            <label for="emailid">Your Email Address</label>
            <input type="email" class="myInputStyle"  id="pwd"  maxlength="100" formControlName="email" required>
          <!--  <div class="inline-error" *ngIf="!registerUser.controls['email'].valid">-->
               <div [hidden]="registerUser.controls['email'].valid || registerUser.controls['email'].pristine" class="inline-error">
                  Email id is not valid
                </div>
          </div>
          <div class="form-group filled-form">
            <label for="emailid">Confirm Your Email Address</label>
            <input type="email" class="myInputStyle" id="enterEmail" maxlength="100" name="confirmemail" formControlName="confirmemail"  required>
          
          <!--   <div class="inline-error" *ngIf="!registerUser.controls['confirmemail'].valid">-->
                 <div [hidden]="(registerUser.controls['email'].value === registerUser.controls['confirmemail'].value ) || registerUser.controls['confirmemail'].pristine" class="inline-error">
                  Email address does not match
                </div>
            
          </div>
          <div class="form-group filled-form">
            <label for="contact">Your Phone Number</label>
            <input type="text" dropSpecialCharacters="true"  mask='000-000-0000' class="myInputStyle"  name="phone" formControlName="phone" required>
           <!-- <div class="">Phone number must be of 10 digits</div>appInputMask pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$"  [0-9]{12} minlength="10" maxlength="10" -->
             <!--<div class="inline-error" *ngIf="!registerUser.controls['phone'].valid">
                  Please enter a valid phone number(111-111-1111)
                </div> -->
      <div [hidden]="registerUser.controls['phone'].valid || registerUser.controls['phone'].pristine" class="inline-error">
     <!-- <div [hidden]="!registerUser.controls.phone.hasError('pattern')">Mobile should be 10 digit</div>
      <div [hidden]="!registerUser.controls.phone.hasError('required')">Mobile is required</div> -->
      <!-- Please enter a valid phone number(111-111-1111) -->
   </div>


          </div>
        </div>

        <div class="goToNextBtn"> <!--  -->
          <button  type="submit" class="btn btn-primary"[disabled]="registerUser.invalid || disabledButton">{{disabledButton?'Register..': 'Register'}}</button>
        
        </div>
        
        <p class="goToInfo">Already have a talentrackr<sup>TM</sup> Account? <a  class="actionAnchor" (click)="gotologin()">Login</a></p>
      </form>
	  </div>
     
    </section>
  </div>
  </div>
</div>
