<app-header-valid-user></app-header-valid-user>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="mdl-cell mdl-cell--12-col greeting">
        <h5><img class="img" src="../../assets/sunny.png">{{greeting}},</h5>
        <h2>What Would You Like To Do Today?</h2>
      </div>
      <section id="login">
        <div class="offerSection">
          <div class="offer" (click)="createHWA(ifHwaexist)">

            <img class="offerIcon" src="assets/hwa.svg" />
            <div class="offerDetails">
              <h3>Help Wanted Ad</h3>
              <p>
                <span class="tiny-link">Create</span><span>|</span>
                <span class="tiny-link">draft</span><span>|</span>
                <span class="tiny-link">view</span><span>|</span>
                <span class="tiny-link">edit</span><span>|</span>
                <span class="tiny-link">copy</span><span>|</span>
                <span class="tiny-link">extend</span><span>|</span>
                <span class="tiny-link">stop</span>
              </p>
            </div>
          </div>

          <div class="offer allapplicants" [ngClass]="{'disableMode': enableAllApplicant}" (click)="allApplicant()">
            <img class="offerIcon" src="assets/candidate.svg" />
            <div class="offerDetails">
              <h3>Applicant Status</h3>
              <p>
                <span class="tiny-link">all</span><span>|</span>
                <span class="tiny-link">new</span><span>|</span>
                <span class="tiny-link">viewed</span><span>|</span>
                <span class="tiny-link">shortlisted</span><span>|</span>
                <span class="tiny-link">interview</span>
              </p>
            </div>
          </div>

          <div class="offer interview" [ngClass]="{'disableMode': enableInterview}" (click)="goToInterview()">
            <img   class="offerIcon" src="assets/interview.svg" />
            <div class="offerDetails">
              <h3>Interview</h3>
              <p>
                <span class="tiny-link">list</span><span>|</span>
                <span class="tiny-link">calendar</span>
              </p>
            </div>
          </div>

          <div class="offer" [ngClass]="{'disableMode': enableOffer}" (click)="goToOffer()">
            <img  class="offerIcon" src="assets/offer.svg" />
            <div class="offerDetails">
              <h3 class="lineHigh">Offer</h3>
            </div>
          </div>

          <div class="offer" (click)="moreThings()">
            <img class="offerIcon" src="assets/tap.svg" />
            <div class="offerDetails">
              <h3 class="lineHigh">More Things To Do</h3>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
