<app-header-valid-user></app-header-valid-user>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <section id="login">  
                <div class="offerSection">
                    <p></p>
                    <div class="offer cursor">
                        
                        <img class="offerIcon" src="assets/hwa.svg" />
                        <div class="offerDetails">
                        <h3>Help Wanted Ad</h3>
                        <p></p>
                        </div>
                    </div>

                    <div class="offer">
                        <img class="offerIcon" src="assets/candidate.svg" />
                        <div class="offerDetails">
                        <h3>Applicant Status</h3>
                        </div>
                    </div>

                    <div class="offer">
                        <img   class="offerIcon" src="assets/interview.svg" />
                        <div class="offerDetails">
                        <h3>Interview</h3>
                        </div>
                    </div>

                    <div class="offer">
                        <img  class="offerIcon" src="assets/offer.svg" />
                        <div class="offerDetails">
                        <h3>Offer</h3>
                        </div>
                    </div>
                    
                    <div class="offer">
                        <img class="offerIcon" src="assets/tap.svg" />      
                        <div class="offerDetails">
                        <h3>More Things To Do</h3>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<a [routerLink]="['/hwa-basic-info']">Create</a><br>
<a [routerLink]="['/all-hwa-list']">Edit</a><br>
<a [routerLink]="['/copy-hwa']">Copy</a><br>
<a [routerLink]="['/extend-hwa']">Extend</a><br>