<div *ngIf="visible" class="profile-imp alert alert-dismissible">
  <div class="closeIcon">
    <button type="button" class="close" data-toggle="modal" (click)="closeHelp()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h1 *ngIf="isBusiness">Why is your Business Profile Important?</h1>
  <h1 *ngIf="!isBusiness">Why is your User Profile Important?</h1>
  <div class="green-border"></div>
  <p *ngIf="isBusiness"> A detailed business user profile gives a quick overview about the entire company.</p>
   <p *ngIf="!isBusiness"> A detailed business user profile gives a quick overview about the entire company.</p>
</div>