.input-section {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #ddd;
}
.locat.section-title {
    padding: 20px 0;
}
@media screen and (min-width: 1024px) {
    .form.input-section {
        width: 700px;
        padding: 10px 0 50px;
    }
    .col-2 {
        text-align: center;
    }
    .myTabs ul.nav-tabs .nav-item {
        background-color: #ccc;
        border-radius: 10px 10px 0 0;
    }
    img.all-icon {
        width: 18px;
    }
}