<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">  
      <div class="login-blk">
        <div class="header">
          <img src="../../../assets/header-bg.jpg" class="header-bg img-responsive"/>
          <img src="../../../assets/logo-frs.png" class="logo"/>
        </div>
        <div class="deskWidth">
        <div class="inner-page-title">
          <h2>user profile</h2><a (click)="helpText()"><img src="../../assets/question.png"/></a>
        </div>
        <div class="strips">
          <div class="row">
            <div class="col-12">
                <div class="col-4 green-strip"></div>
                <div class="col-4 green-strip"></div>
                <div class="col-4 grey-strip"></div>
            </div>
          </div>
        </div>
        <div class="section-title">
          <div class="row">
            <div class="col-10">
              <h5>user information</h5>
            </div>
            <div class="col-2">
              <img src="../../assets/edit.png" class="all-icon" (click) = "userProfile()"/>
            </div>
          </div>
          
        </div>
        <div class="form input-section">
          <div class="row">
            <div class="col-12">
              <p class="userTitle">Name of Your Business</p>
              <p class="userInfo">Joe's Restaurant and Delivery</p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <p class="userTitle">Your First Name</p>
              <p class="userInfo">Samson</p>
            </div>
            <div class="col-6">
              <p class="userTitle">Your Last Name</p>
              <p class="userInfo">Paul</p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <p class="userTitle">Your Email Address</p>
              <p class="userInfo">spaul@gmail.com</p>
            </div>
            <div class="col-6">
              <p class="userTitle">Your Phone Number</p>
              <p class="userInfo">123-456-789</p>
            </div>
          </div>
        </div>
        <div class="locat section-title">
          <h5>default business location</h5>
          <small class="info">A minimum of 1 default business location is mandatory.</small>
        </div>
        <div class="addedLoc">
          <div class="loc">
            <div class="row">
              <div class="col-10">
                <p>9527 Moore Creek Rd, MeadowView, VA
                  New York City, 10022
                </p>
              </div>
              <div class="col-2">
                <img src="../../assets/edit.png" class="all-icon" (click)="addLoc()"/>
              </div>
            </div>
          </div>
        </div>

        <div class="locat section-title">
          <h5>additional business location(s)</h5>
        </div>
        <div class="additionalLoc">
          <div class="loc">
            <div class="row">
              <div class="col-10">
                <p>9527 Moore Creek Rd, MeadowView, VA
                  New York City, 10022
                </p>
              </div>
              <div class="col-2">
                <img src="../../assets/menu.png" class="all-icon"/>
              </div>
            </div>
          </div>
          <div class="actionItems">
            <ul>
              <li><a href="#">Edit</a></li>
              <li><a href="#">Delete</a></li>
              <li><a href="#">Mark Default</a></li>
            </ul>
          </div>

          <div class="loc">
            <div class="row">
              <div class="col-10">
                <p>9527 Moore Creek Rd, MeadowView, VA
                  New York City, 10022
                </p>
              </div>
              <div class="col-2">
                <img src="../../assets/menu.png" class="all-icon" />
              </div>
            </div>
          </div>
          <div class="actionItems">
            <ul>
              <li><a href="#">Edit</a></li>
              <li><a href="#">Delete</a></li>
              <li><a href="#">Mark Default</a></li>
            </ul>
          </div>
          
        </div>

        <div class="add-new">
          <div class="row">
            <div class="col-12">
                <img src="../../assets/plus.png" class="all-icon"/>
                <a (click) = "addNewLoc()" class="actionAnchor">Add New Business Location</a>
            </div>
          </div>
        </div>

        <div class="goToNextBtn bgGrey">
          <button type="button" class="btn btn-primary" (click) = "businessCreate()">build business profile</button>
        </div>
      </div>
      </div>
    </section>
  </div>
  </div>
</div>
<!-- <app-help-modal [visible]="helpShow" (closeSection)="helpText()"></app-help-modal>-->