<simple-notifications [options]="options"></simple-notifications>
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">  
      <div class="login-blk">
       <!-- <div class="header">
          <img src="../../../assets/header-bg.jpg" class="header-bg img-responsive"/>
          <img src="../../../assets/logo-frs.png" class="logo"/>
        </div> -->
         <app-header-valid-user></app-header-valid-user>
        <div class="deskWidth">
        <div class="inner-page-title">
          <h2>user profile</h2><a (click)="helpText()"><img src="../../assets/question.png"/></a>
        </div>
        <div class="strips">
          <div class="row">
            <div class="col-12">
                <div class="col-4 green-strip"></div>
                <div class="col-4 green-strip"></div>
                <div class="col-4 grey-strip"></div>
            </div>
          </div>
        </div>
        <div class="section-title">
          <div class="row">
            <div class="col-10">
              <h5>user information</h5>
            </div>
            <div class="col-2">
             <a [routerLink]="['/user-profile']">  <img src="../../assets/edit.png" class="all-icon" /></a>
            </div>
          </div>
          
        </div>
        <div class="form input-section">
          <div class="row">
            <div class="col-12">
              <p class="userTitle">Name of Your Business</p>
              <p class="userInfo">{{businessName}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <p class="userTitle">Your First Name</p>
              <p class="userInfo">{{field_first_name}}</p>
            </div>
            <div class="col-6">
              <p class="userTitle">Your Last Name</p>
              <p class="userInfo">{{field_last_name}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <p class="userTitle">Your Email Address</p>
              <p class="userInfo">{{email}}</p>
            </div>
            <div class="col-6">
              <p class="userTitle">Your Phone Number</p>
              <p class="userInfo">{{myModel}}</p>
            </div>
          </div>
        </div>
        <div class="locat section-title">
          <h5>default business location</h5>
          <small class="info">A minimum of 1 default business location is mandatory.</small>
        </div>
    <ng-container *ngFor="let addrs of addressList">

        <div *ngIf="addrs?.field_make_default == 'Yes'" class="addedLoc">
          <div class="loc">
            <div class="row">
              <div class="col-10">
                <p>{{addrs?.title}}, {{addrs?.field_address_line_2}}, {{addrs?.field_state}}
                 {{addrs?.field_city}}, {{addrs?.field_z}}
                </p>
              </div>
              <div class="col-2">
               <a [routerLink]="['/add-location', addrs?.nid]"> <img src="../../assets/edit.png" class="all-icon" /></a>
              </div>
            </div>
          </div>
        </div>
         
    </ng-container>
        <div class="locat section-title">
          <h5>additional business location(s)</h5>
        </div>
        <div class="additionalLoc">
          <ng-container *ngFor="let addr of addressList; let index = index">
          <div *ngIf="addr?.field_make_default != 'Yes'">
          <div class="loc">
            <div class="row">
              <div class="col-10">
                <p>{{addr?.title}}, {{addr?.field_address_line_2}}, {{addr?.field_state}}
                 {{addr?.field_city}}, {{addr?.field_z}}
                </p>
              </div>
              <div class="col-2">
               <a (click)="openMenu(addr?.nid)"> <img src="../../assets/menu.png" class="all-icon"/> </a>
              </div>
            </div>
          </div>
          <div [id]="addr?.nid" class="actionItems">
            <ul>
              <li><a [routerLink]="['/add-location', addr?.nid]">Edit</a></li>
              <li><a (click)="deleteAddress(addr?.nid)" href="javascript:void(0)">Delete</a></li>
              <li><a (click)="markAsDefault(addr?.nid)" href="javascript:void(0)">Mark Default</a></li>
            </ul>
          </div>
          </div>
          </ng-container>
          
          
        </div>

        <div class="add-new">
          <div class="row">
            <div class="col-12">
                <img src="../../assets/plus.png" class="all-icon"/>
                <a  [routerLink]="['/add-location', 'new']" class="actionAnchor">Add New Business Location</a>
            </div>
          </div>
        </div>

        <div class="goToNextBtn bgGrey">
          <button type="button" class="btn btn-primary" (click)="businessCreate()">build business profile</button>
        </div>
      </div>
      </div>
    </section>
  </div>
  </div>
</div>
<!-- <app-help-modal [visible]="helpShow" (closeSection)="helpText()"></app-help-modal>-->