.input-section {
    border-bottom: 1px solid #ddd;
}
.container-fluid{padding: 0}
.width-700{max-width: 700px; margin: auto}
.locat.section-title {
    padding: 20px 0;
}
@media screen and (min-width: 1024px) {
    .col-2 {
        text-align: center;
    }
    .myTabs ul.nav-tabs .nav-item {
        background-color: #ccc;
        border-radius: 10px 10px 0 0;
    }
    img.all-icon {
        width: 18px;
    }
}
