<app-header-valid-user></app-header-valid-user>

<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">
        <div class="login-blk">
          <div class="deskWidth">
          <div class="section-title">
            <h5>Select Hiring Location</h5>
          </div>
         
<form>
          <div class="def-address">
            <h6>Default business Location</h6>
         
               <ng-container *ngFor="let de of addressList; let i=index">
              <div *ngIf="de.field_make_default == '1'" class="form-check">
                <label class="form-check-label">
                  <input type="checkbox"
                   name="addressList"
                   class="form-check-input"
                   value="de.nid"
                   [(ngModel)]="de.checked" 
                   (change)="getSelectedAddress()" />
                  {{de?.title}}, {{de?.field_address_line_2}}, {{de?.field_state}}, {{de?.field_city}}
                </label>
              </div>
                </ng-container> 
           
          </div>
          <div class="additional-address">
            <h6>Additional Location(s)</h6>
           
               <ng-container *ngFor="let addrs of addressList; let i=index">
              <div *ngIf="addrs.field_make_default != '1'" class="form-check">
                <label class="form-check-label">
                  <input type="checkbox"
                   name="addressList" 
                   class="form-check-input" 
                   value="addrs.nid" 
                   [(ngModel)]="addrs.checked" 
                   (change)="getSelectedAddress()" />
                {{addrs?.title}}, {{addrs?.field_address_line_2}}, {{addrs?.field_state}}, {{addrs?.field_city}}
                </label>
              </div>
               </ng-container>          
           
          </div>
          
            <div class="goToNextBtn bgGrey">
              <button type="button" class="btn btn-primary" (click)="onSubmit()">Add Selected</button>
          </div>
 </form>
        </div>
      </div>
    </section>
  </div>
  </div>
</div>