app-all-hwa-list .myTabs ul {
    align-self: left !important;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 0 !important;
    z-index: 1000;
    border: none !important;
}
.myTabs .collapse .col-11 span {
    overflow: visible;
    white-space: normal;
}
h5 {
    text-align: left;
}
