
<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">  
      <div class="login-blk">
        <app-header-registration></app-header-registration>
        <div class="deskWidth">
        <div class="page-title">
          <h2>Login</h2>
        </div>
         <simple-notifications [options]="options"></simple-notifications>
    <form [formGroup]="loginform" (ngSubmit)="onSubmitLogin(loginform.value)" novalidate autocomplete="off">
      <!--  <div class="common-error">
          <h6>Incorrect email address or Password</h6>
        </div> -->
        
        <div class="form input-section">
          <div class="form-group filled-form">
            <label for="enterEmail">Email Address</label>
            <input type="email" class="myInputStyle" name="email" [(ngModel)]="email" maxlength="100" formControlName="email" id="enterEmail">
            <div [hidden]="loginform.controls['email'].valid || loginform.controls['email'].pristine" class="inline-error">
                 Please enter a valid email.
                </div> 
          </div>
          <div class="form-group filled-form pwd-wrapper">
            <span class="pwd-eye" *ngIf="!show" (click)="toggleShow(true)"></span>
             <span class="pwd-eye hidepwd" *ngIf="show" (click)="toggleShow(false)"></span>
            <label for="enterEmail">Password</label>
            <input show-hide-input type="password" [(ngModel)]="password" maxlength="30" formControlName="password" name="password" class="myInputStyle passVal" id="pwd" >
              <div [hidden]="loginform.controls['password'].valid || loginform.controls['password'].pristine" class="inline-error">
                 Please enter password.
              </div> 
          </div>
        </div>

        <div class="action-buttons">
          <div class="row">
            <div class="col-6">
             <!-- <a href="#" class="leftAlign">Remember me</a> -->
                <label class="mdl-checkbox" for="checkbox-1" style="pointer-events: auto;">
                <input type="checkbox" id="checkbox-1" formControlName="rememberme" [(ngModel)]="rememberme" name="rememberme"  class="leftAlign" >
                <span class="mdl-checkbox__label">Remember Me</span> </label>
            </div>
            <div class="col-6">
              <div class="rightAlign"><a class="actionAnchor" (click)="forgotPass()">Forgot password?</a></div>
            </div>
          </div>
        </div>

        <div class="goToNextBtn">
          <button type="submit" class="btn btn-primary" [disabled]="loginform.invalid || disabledButton">{{disabledButton?'Login..': 'Login'}}</button>
        </div>
        
        <p class="goToInfo">Are you a new user? <a class="actionAnchor" (click)="Register()">Register</a> here.</p>
      </form>
	  </div>
    </div>
  </section>
</div>
</div>
</div>
