/* fonts */
@font-face {
  font-family: 'proxima_novaregular';
  src: url('assets/font/proximanova-regular-webfont.woff2') format('woff2'), url('assets/font/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
  src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}
h1 {
  font-size: 30px;
  font-weight: bold;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h6 {
  font-size: 1rem;
  display: inline-block;
}


/* fonts */
/* color codes */
.primary-blue {
  color: #002d40;
}
.primary-green {
  color: #139701;
}
.goToNextBtn .btn-primary.disabled, .goToNextBtn .btn-primary:disabled {
  background-color: #3e7c95;
  border-color: #3e7c95;
}
/* color codes */
/* You can add global styles to this file, and also import other style files */
.bgGrey {
  background-color: #efefef;
}
img.all-icon {
  vertical-align: sub;
}

body, html {
  font-family: proxima_novaregular!important;
}
h4, h2 {
  text-align: center;
}
.divider-block p, .divider-block li{font-size: 14px; color: #0c2731; line-height: 20px;margin-bottom: 10px;}
.modal-body-hwa{margin:0!important;}
.modal-body-hwa-content{box-shadow: 0 1px 1px #ccc!important;}
.custom-control-input:active~.custom-control-indicator, .custom-control-input:checked~.custom-control-indicator {
  color: #fff;
  background-color: #002d40 !important;
}
.newLoader {
  position: absolute;
  width: 10%;
  left: 80%;
  margin-left: -35%;
  display: block;
}
.profImg {
  width: 100%;
}
/* login page that will be used everywhere */
.container-fluid > .row > .col-12 {
  padding: 0;
}

.collapse span {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.collapse span.custom-control-indicator {
  width: 16px;
}
.collapse span.custom-control-description {
  width: 120px;
}
input.myInputStyle, select.myInputStyle, .select-more-loc, .myInputStyle {
  padding: 12px 18px;
  border-radius: 5px;
  border: 1px solid #4d7079;
  display: block;
  width: 100%;
  margin: auto;
}
.card-wrapper{border: 1px solid #4d7079;}
input.myInputStyle:focus, select.myInputStyle:focus, select.myInputStyle:active {
  outline: 0;
  box-shadow: 0 0 0 ;
  border: 1px solid #002d40;
}
.select-more-loc span {
  display: inline-block;
  width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.locate-icon {
  vertical-align: super;
}
.filled-form select.form-control:not([size]):not([multiple]) {
  height: inherit;
}
.form-group.filled-form label {
  color: #002d3f;
  font-weight: 600;
  top: -11px;
  left: 15px;
  padding: 0 5px;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  text-transform: capitalize;
}
h2 {
  text-transform: uppercase;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}
button:focus {
  outline: 0;
}
.header, .header-registration {
  background: url(./assets/header-bg.png) repeat-x;
  line-height: 150px;
  text-align: center;
  background-size: 310px;
}
.rightAlign {
  float: right;
  clear: both;
}
.page-title {
  padding: 20px 0 5px;
}
.myInputStyle:last-child {
  margin-bottom: 0;
}
.form-group.filled-form {
  margin-bottom: 18px;
  position: relative;
}
.form-group.filled-form:last-child {
  margin-bottom: 0;
}
.goToInfo {
  padding: 20px;
  text-align: center;
}
a.actionAnchor {
  text-decoration: none;
  color: #002d3f !important;
  font-weight: bold;
  cursor: pointer;
}
.page-info {
  text-align: center;
}
.pwd-eye {
  background: url(./assets/spriteEye1.png);
  position: absolute;
  right: 7%;
  top: 50%;
  z-index: 1;
  margin-top: -12px;
  height: 24px;
  width: 35px;
  background-size: 35px;
  cursor: pointer;
}
.pwd-eye.hidepwd {
  background-position: 0 -31px;
  height: 24px;
  cursor: pointer;
}
/* heading inside pages */
.inner-page-title h2 {
  display: inline;
}
.inner-page-title img {
  width: 20px;
  vertical-align: top;
  margin: -1px 10px;
}
small {
  display: inherit;
  padding: 0;
}
.info {
  color: #4a7beb;
}
.deskWidth sup {
  top: -.8em;
  font-size: 50%;
}
.section-title, .inner-page-title {
  padding: 10px 0 0 0;
}
.section-title {
  padding: 10px 0 20px;
}
/* heading inside pages */
.fileUpload.defaultImgText small {
  width: 100%;
  text-align: center;
}
/* Error CSS */
.common-error {
  text-align: center;
  color: red;
  visibility: hidden;
}
.inline-error {
  color: red;
  text-align: right;
  height: auto;
  /* changed for set new password page */
  width: 100%;
  /* changed for registration page error message*/
  margin: 0 auto;
  /* visibility: hidden;
   */
}
/* Error CSS */
/* Button CSS */
.action-buttons {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}
.goToNextBtn {
  padding: 20px 0;
  text-align: center;
}
button.btn {
  border-radius: 50px;
  padding: 5px 25px;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
}
button {
  margin: 20px 5px;
  cursor: pointer;
}
.success-btn {
  border-color: #139701;
  color: #fff;
  background-color: #139701;
}
.goToNextBtn .btn, .goToNextBtn .btn:hover {
  border-radius: 50px;
  padding: 10px 30px;
  background-color: #3e7c95;
  border-color: #3e7c95;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  color: #fff
}

html .dropdown-menu{box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 6px 9px rgba(0,0,0,.2); padding: 0}
html .dropdown-menu li{line-height: 40px;padding: 0px 15px; }
html .dropdown-menu li:hover{background: #eee}
.btn.cancel {
  background-color: #999;
  border: 1px solid #999;
}
.goToNextBtn .btn.smallBtn, button.btn.smallBtn {
  width: auto;
  padding: 5px 15px;
}

/* Button CSS */
/* strips section */
.strips .col-4 {
  width: 32.6%;
  display: inline-block;
}
.green-strip {
  border-bottom: 3px solid #149702;
}
.grey-strip {
  border-bottom: 3px solid #ddd;
}
/* strips section */
/* view section CSS */
p {
  line-height: 1.2;
}
.userTitle {
  margin-bottom: 0;
  font-size: 16px;
  color: #555;
}
.userInfo {
  font-weight: normal;
  font-size: 15px;
  color: #000;
  word-break: break-all;
}
.add-new {
  padding: 15px 0;
}
.loc, .defaultImgText {
  padding: 10px 0 10px;
  position: relative;
}
.actionItems {
  position: absolute;
  right: 25px;
  border: 1px solid #ccc;
  border-radius: 0;
  background-color: #fff;
  top: 50%;
  z-index: 1;
  cursor: pointer;
  width: 110px;
}
.cameraActionItems {
  position: absolute;
  background-color: #002d3f;
  z-index: 11;
  left: 20vh;
  width: 35%;
}
.actionItems ul, .cameraActionItems ul {
  list-style-type: none;
  padding: 5px 7px;
  margin: 0;
}
.actionItems ul {
  padding: 0 7px;
}
.actionItems li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.cameraActionItems li {
  border-bottom: 1px solid #000;
  color: #fff
}
.actionItems li:last-of-type, .cameraActionItems li:last-of-type {
  border-bottom: 0;
}
a {
  color: #002d3f !important;
  font-weight: 600;
}
a:hover {
  cursor: pointer;
}
a:active, a:focus, a:hover {
  text-decoration: underline !important;
}
.actionItems li a {
  color: #000;
  font-weight: 600;
  font-size: 16px;
}
.cameraActionItems li a {
  color: #fff;
}
.all-icon {
  width: 20px;
}
.additionalLoc .loc {
  border-bottom: 1px solid #ccc;
  padding: 10px 0 0;
}
.additionalLoc div.loc:last-of-type {
  border-bottom: 0;
}
app-view-business-profile p {
  font-size: 20px;
  color: #000;
}
/* view section CSS */
.form-check {
  width: 100%;
  margin: auto;
  padding: 15px 0;
  font-size: 18px;
}
.form-check input[type="checkbox"] {
  width: 15px;
  height: 20px;
}
/* business profile */
.busImg {
  border-radius: 8px;
  border: 1px solid #002d3f;
  margin: auto auto 18px;
  padding: 15% 10%;
}
.defaultImgText {
  text-align: center;
}
.defaultImgText p {
  margin: 0;
}
.busDesc textarea {
  width: 100%;
  height: 220px;
  /*margin: auto auto 18px;
  */
  /* commenting for view-business-profile */
  border: 1.3px solid #002d3f;
  border-radius: 8px;
  padding: 10px;
}
/* why important */
.alert.profile-imp {
  color: #fff;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(13,39,49);
  opacity: 0.9;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 999;
}
.alert-dismissible button.close {
  padding: 0;
  right: 5%;
}
.profile-imp p {
  padding: 40px 50px;
  font-size: 21px;
}
.profile-imp h1 {
  padding: 10px 25px;
}
.green-border {
  border-bottom: 3px solid #139701;
  width: 20%;
  margin: auto;
}
.closeIcon {
  width: 100%;
  display: block;
  padding: 0 3% 10% 0;
}
button.close, button.close:focus, button.close:hover {
  font-size: 65px;
  font-weight: normal;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
  outline: 0;
}
/* why important */
/* menu */
.offer {
  text-decoration: none;
  padding: 0 30px;
  background-color: #005d80;
  color: #fff;
  margin: 10px auto;
  border-radius: 60px;
  cursor: pointer;
  box-sizing: border-box;
  min-height: 68px;
}
.disable {
  pointer-events: none;
  cursor: auto;
  color: #9ab7c5;
}
.offerSection {
  max-width: 560px;
  margin: auto;
}
.offer.cursor {
  cursor: auto;
}
.offer p {
  margin: 0;
  line-height: 20px;
  font-size: 11px;
}
.disableMode {
  background: #c2ccd1;
  cursor:auto;
  pointer-events: none;
}
.offer h3 {
  font-size: 20px;
  margin: 0;
}
.offerDetails {
  display: inline-block;
  border-left: 1px solid #ccc;
  padding: 11px 10px;
  width: 70%;
  padding-right: 0;
  vertical-align: middle;
  min-height: 68px;
  cursor: pointer;
}
.offerDetails p {
  text-transform: uppercase;
}
.tiny-link {
  margin-right: 4px;
}
.offerIcon {
  vertical-align: middle;
  padding: 0 10px 0 0;
  width: 40px;
}
/* Post HWA */
.page-head {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  padding: 15px 10px;
}
.page-head h3 {
  display: inline-block;
  font-size: 21px;
  line-height: 30px;
  vertical-align: text-top;
  margin-bottom: 0;
  font-weight: bold;
}
.page-head button {
  float: right;
  clear: both;
}
.hwa-title {
  border-bottom: 1px solid #ddd;
  padding: 15px 10px;
  font-weight: bold;
}
/* Post HWA */
.excel-icon {
  width: 23px;
}
/* Accordion */
.myTabs .card{border: 0}
.card .card-header {
  padding: .75rem 0.7rem;
}
.card{margin-bottom: 10px;}
.card-header{border-bottom: 0; margin-bottom: 0; background: #f3f6f8!important;}
h5, .section-title h5, .preview-head h5 {
  text-transform: capitalize;
  font-weight: bold;
  /*display: inline-block;
  */
  /* commenting for business profile and view business profile page */
}
.card .card-block {
  padding: 30px 0;
  width: 90%;
  margin: auto;
}
.card-header h5 a {
  color: #000;
  font-weight: bold;
  text-decoration: none !important;
}
.kebab-menu {
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
}
.kebab-open {
  padding: 0 10px;
  margin: 7px auto;
  min-width: 120px;
  position: absolute;
  right: 20px;
  box-shadow: 1px 1px 10px 2px #ccc;
  z-index: 2;
  opacity: 1;
  text-align: left;
  background-color: #fff;
}
.kebab-open ul {
  padding-left: 0;
  margin: 0
}
.deskWidth{
  padding: 40px 0 0
}
.kebab-open ul li {
  list-style: none;
  border-bottom: 1px solid #000;
  padding: 8px 0;
}
.kebab-open ul li:last-child {
  border: none;
}
ul.nav.nav-tabs.justify-content-start{
  max-width: 1140px;
  margin: auto
}
/* accordion */
.acc-arrow {
  width: 20px;
}
.preview-head {
  padding: 10px 0;
}
.preview-head .col-1, .preview-head .col-5, .card-header .col-1 {
  padding: 0;
}
#accordion .card-header:after {
  content: "";
}
.ques-icon {
  width: 20px;
  cursor: pointer;
}
h3.lineHigh {
  line-height: 45px;
}
/* accordion */
/* all-hwa-list */
.myTabs ul.nav-tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.myTabs ul.nav-tabs .nav-item {
  margin-bottom: 0;
  display: table-cell;
  width: 33%;
  text-align: center;
}
.myTabs ul.nav-tabs .nav-item:last-child {
  border-right: none;
}
.myTabs ul.nav-tabs .nav-item.show .nav-link {
  background-color: #002d3f;
  border-color: #002d3f;
  padding: .5rem .52rem;
}
.myTabs ul.nav-tabs .nav-link.active {
  border-bottom: 4px solid #139701;
  background-color: #002d3f;
  font-weight: 600;
  color: #fff!important;
}
.myTabs .nav-tabs a {
  color: #000;
}
.myTabs .nav-tabs a:active, .myTabs .nav-tabs a:focus, .myTabs .nav-tabs a:hover {
  text-decoration: none !important;
}
.myTabs ul.nav-tabs .nav-link {
  border: none;
  font-weight: normal;
}
.myTabs .card .card-block {
  padding: 0;
}
.myTabs small {
  margin: 0;
  color: red;
}
.myTabs .safeSmall small {
  color: #ccc;
}
.myTabs .collapse .row, .myTabs .collapsing .row {
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.alternatemessage{padding: 15px; color: #ccc; font-style: italic}
.myTabs .collapse .row:last-child {
  border-bottom: none;
}
.myTabs .collapse .row .col-11, .myTabs .collapse .row .col-1 {
  padding: 0;
}
.myTabs .collapse .row .col-11 p {
  margin-bottom: 0;
}
.light-blue{background: #3e7c95; color: #fff}
/* all-hwa-list */
/* login page that will be used everywhere */
@media screen and (min-width: 1024px) {
  /*.deskWidth {
       max-width: 700px;
       margin: auto;
  }
  */
  .form-group.filled-form {
    margin-bottom: 35px;
  }
  .header-bg {
    width: 100%;
    display: block;
    height: 100px;
  }
  .collapse span {
    width: 85%;
  }
  .section-title, .inner-page-title {
  }
  .section-title {
    padding: 20px 0 35px 0;
  }
  .section-title h5, small {
    width: 100%;
  }
  .deskFullWidth, .goToNextBtn {
    position: relative;
  }
  .deskFullWidth::after{
    content: "";
    position: absolute;
    bottom: 5.9px;
    left: 0;
    right: 0;
    display: block;
    border: 2px solid #eee;
    z-index: -1;
  }
  .goToNextBtn {
    border-top: 0.8px solid #ccc;
  }
  .form.input-section .busImg {
    padding: 25px;
  }
  .deskFullWidth {
    width: 100%;
  }
  .action-buttons, .page-title {
    padding: 20px 0 15px;
  }
  .profileTabs ul.nav-tabs {
    margin: 15px auto 0;
    background-color: transparent;
  }
}
/* ramya */
button {
  margin: 0;
}
*:focus {
  outline: none !important;
  box-shadow: 0 0 0 !important;
}
button.btn.no-bg-btn {
  border: 1px solid #002d40;
  border-radius: 50px;
  background-color: #fff;
}
button.btn.with-bg-btn {
  border: 1px solid #002d40;
  border-radius: 50px;
  background-color: #002d40;
  color: #fff;
}
button.btn.transparent-btn {
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: transparent;
  padding: 5px 0;
}
.cta-buttons {
  padding: 10px 0;
}
.dropdown-menu.show {
  padding: 0 10px;
}
.dropdown-menu.show li {
  border-bottom: 1px solid #ccc;
}
.dropdown-menu.show li:last-child {
  border-bottom: 0;
}

/* Ramya */
.overlay {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  font-size: 13px;
  color: #00384f;
  position: absolute;
  background: #fff;
  left: 50%;
  margin-left: -40vw;
  top: 20%;
}
.overlay:before {
  content: "";
  background: rgba(0,0,0,.8);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
.overlay2text {
  position: relative;
  z-index: 9;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.overlayClose {
  float: right;
  clear: right;
  text-transform: uppercase;
  cursor: pointer;
}
.overlayHead {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  padding: 15px;
}
.overlayTitle {
  font-size: 14px;
}
.no-dialog {
  width: 100%;
}
.commentsBlock {
  margin: 15px 0;
}
.allApplicantsSortSection ul.nav.nav-tabs {
  padding: 10px 0 0 0 !important;
}
.allApplicantsSortSection ul.nav.nav-tabs.justify-content-start {
  justify-content: center !important;
}
.allApplicantsSortSection .nav-tabs .nav-item {
  display: inline-block;
}
.allApplicantsSortSection .nav-tabs .nav-item a:hover,
.allApplicantsSortSection  .nav-tabs .nav-link.active a:hover {
  text-decoration: none !important;
}
.allApplicantsSortSection  .nav-tabs .nav-link.active {
  border-bottom: 3px solid #28ae61;
  color: #fff !important;
  background: #002d40 !important;
}
.allApplicantsSortSection  .nav-tabs a.nav-link.active {
  text-decoration: none !important;
}
.offerDetails a.designation {
  text-transform: capitalize;
  text-decoration: none;
  color: #fff !important;
  font-size: 16px;
  font-weight: normal;
}
.offerDetails a.designation:hover {
  text-decoration: none !important;
}
@media (min-width: 992px) {
  #HwaPreviewCommon .modal-lg {
    width: 1142px!important;
  }
}
@media screen and (min-width: 1025px) {
  .container.desktop-width {
    width: 50%;
  }
}
/* Ramya */
/* Loader */
.loader{position: absolute;
left: 50%;
top: 50%;
margin-left: -50px;
margin-top: -50px;
  width: 100px;
}
.defaultLocation .form-check{margin: 0 21px}
.simple-notification-wrapper{width: 400px!important;}
.ql-editor.ql-blank{ min-height: 160px;}
.fr-toolbar.fr-top{padding-top: 10px; border-top: 1px solid #ccc }
.fr-box{z-index: 0;}
.fr-wrapper{min-height: 150px;}
/* Mobile CSS oNly */

@media screen and (max-width: 768px) {
  .section-title h5{margin-bottom: 30px}
  .defaultLocation .form-check{margin: 0 5px}
  .form.input-section{padding: 0 15px 15px}
  body{font-size: 14px}
  .action-buttons {
    width: 100%;
  }
  .busImg{padding: 10px}
  .navbar-brand{width: auto; margin: auto;}
  ul.nav.nav-tabs.justify-content-start{padding: 0 17px}
  .inner-page-title{padding: 10px 10px 0}
  .strips.container{margin-bottom: 10px}
  h5.loc{padding-left: 10px}
  .deskWidth {padding: 15px 0 0;}
  .action-buttons {padding: 0 15px;}
  .section-title{padding-bottom: 0}
  .businessProfileinput{padding: 15px;}
  .confirm-title{padding: 0}
  .confirm-title h5{font-size: 16px;margin-bottom: 20px;}
  .up .form.input-section, .adl .form.input-section{padding: 0;}
  .mar0{margin: 0}
  .form-check input[type="checkbox"]{width: auto; height: auto}
  .goToNextBtn{padding: 0; border-top: 1px solid #ccc}
  .addLoctitle{padding: 0}
  .addLoctitle .loc{ padding-top: 0}
  .page-title h2{ margin-bottom: 40px;}
  .noborder{border: 0}
  .pwd-eye { top: 26%; margin-top: 0}
  .add-location-first h5{margin-bottom: 0;}
  .add-location-first{margin-bottom: 40px;}
  /* ramya */
  .allApplicantsSortSection ul.nav.nav-tabs {
    padding: 0 !important;
    display: inline-block;
    overflow-x: scroll;
    white-space: nowrap;
    width: 95%;
    margin: auto;
  }
  button.btn {
    padding: 5px;
  }
}

.cdk-global-overlay-wrapper,.cdk-overlay-container{pointer-events:none;top:0;left:0;height:100%;width:100%}.cdk-overlay-container{position:fixed;z-index:1000}.cdk-global-overlay-wrapper{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;position:absolute;z-index:1000}.cdk-overlay-pane{position:absolute;pointer-events:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:1000}.cdk-overlay-backdrop{position:absolute;top:0;bottom:0;left:0;right:0;z-index:1000;pointer-events:auto;-webkit-tap-highlight-color:transparent;-webkit-transition:opacity .4s cubic-bezier(.25,.8,.25,1);-o-transition:opacity .4s cubic-bezier(.25,.8,.25,1);-moz-transition:opacity .4s cubic-bezier(.25,.8,.25,1);transition:opacity .4s cubic-bezier(.25,.8,.25,1);opacity:0}.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{opacity:.48}.cdk-overlay-dark-backdrop{background:rgba(0,0,0,.6)}.cdk-overlay-transparent-backdrop{background:0 0}.cdk-global-scrollblock{position:fixed;width:100%;overflow-y:scroll}.owl-dialog-container{position:relative;pointer-events:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;padding:1.5em;-webkit-box-shadow:0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);-moz-box-shadow:0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);box-shadow:0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);-moz-border-radius:2px;border-radius:2px;overflow:auto;background:#fff;color:rgba(0,0,0,.87)}.owl-dt-container,.owl-dt-container *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.owl-dt-container{display:block;background:#fff;pointer-events:auto;z-index:1000}.owl-dt-container-row{border-bottom:1px solid rgba(0,0,0,.12)}.owl-dt-container-row:last-child{border-bottom:none}.owl-dt-calendar{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:100%}.owl-dt-calendar-control{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;font-size:1em;width:100%;padding:.5em;color:#000}.owl-dt-calendar-control .owl-dt-calendar-control-content{-webkit-box-flex:1;-webkit-flex:1 1 auto;-moz-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center}.owl-dt-calendar-control .owl-dt-calendar-control-content .owl-dt-calendar-control-button{padding:0 .8em}.owl-dt-calendar-control .owl-dt-calendar-control-content .owl-dt-calendar-control-button:hover{background-color:rgba(0,0,0,.12)}.owl-dt-calendar-main{-webkit-box-flex:1;-webkit-flex:1 1 auto;-moz-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;padding:0 .5em .5em;outline:0}.owl-dt-calendar-table{width:100%;border-collapse:collapse;border-spacing:0}.owl-dt-calendar-table .owl-dt-calendar-header{color:rgba(0,0,0,.4)}.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th{font-size:.7em;font-weight:400;text-align:center;padding-bottom:1em}.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-calendar-table-divider{position:relative;height:1px;padding-bottom:.5em}.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-calendar-table-divider:after{content:'';position:absolute;top:0;left:-.5em;right:-.5em;height:1px;background:rgba(0,0,0,.12)}.owl-dt-calendar-table .owl-dt-calendar-cell{position:relative;height:0;line-height:0;text-align:center;outline:0;cursor:pointer;color:rgba(0,0,0,.85)}.owl-dt-calendar-table .owl-dt-calendar-cell-content{position:absolute;top:5%;left:5%;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:90%;height:90%;font-size:.8em;line-height:1;border:1px solid transparent;-moz-border-radius:999px;border-radius:999px;color:inherit}.owl-dt-calendar-table .owl-dt-calendar-cell-out{opacity:.2}.owl-dt-calendar-table .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected){border-color:rgba(0,0,0,.4)}.owl-dt-calendar-table .owl-dt-calendar-cell-selected{color:rgba(255,255,255,.85);background-color:#3f51b5}.owl-dt-calendar-table .owl-dt-calendar-cell-selected.owl-dt-calendar-cell-today{-webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,.85);-moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,.85);box-shadow:inset 0 0 0 1px rgba(255,255,255,.85)}.owl-dt-calendar-table .owl-dt-calendar-cell-disabled{cursor:default}.owl-dt-calendar-table .owl-dt-calendar-cell-disabled>.owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected){color:rgba(0,0,0,.4)}.owl-dt-calendar-table .owl-dt-calendar-cell-disabled>.owl-dt-calendar-cell-content.owl-dt-calendar-cell-selected{opacity:.4}.owl-dt-calendar-table .owl-dt-calendar-cell-disabled>.owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected){border-color:rgba(0,0,0,.2)}.owl-dt-calendar-table .owl-dt-calendar-cell-active:focus>.owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected),.owl-dt-calendar-table :not(.owl-dt-calendar-cell-disabled):hover>.owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected){background-color:rgba(0,0,0,.04)}.owl-dt-timer{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;width:100%;height:6em;padding:.5em;outline:0}.owl-dt-timer-box{position:relative;display:-webkit-inline-box;display:-webkit-inline-flex;display:-moz-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;width:25%;height:100%}.owl-dt-timer-content{-webkit-box-flex:1;-webkit-flex:1 1 auto;-moz-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;width:100%;font-size:1.2em}.owl-dt-timer-divider{display:inline-block;-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end;position:absolute;width:.6em;height:100%;left:-.3em}.owl-dt-timer-divider:after,.owl-dt-timer-divider:before{content:'';display:block;width:.3em;height:.3em;position:absolute;left:50%;-moz-border-radius:50%;border-radius:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);background-color:currentColor}.owl-dt-timer-divider:before{top:38%}.owl-dt-timer-divider:after{bottom:38%}.owl-dt-control-button{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer;outline:0;border:none;-webkit-tap-highlight-color:transparent;display:inline-block;white-space:nowrap;text-decoration:none;vertical-align:baseline;margin:0;padding:0;background-color:transparent;color:inherit}.owl-dt-control-button .owl-dt-control-button-content{position:relative;display:-webkit-inline-box;display:-webkit-inline-flex;display:-moz-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;outline:0}.owl-dt-control-button:focus>.owl-dt-control-button-content{background-color:rgba(0,0,0,.12)}.owl-dt-control-button:not(:-moz-focusring):focus>.owl-dt-control-button-content{-moz-box-shadow:none;box-shadow:none}.owl-dt-control-period-button .owl-dt-control-button-content{height:2em;padding:.3em .5em;-moz-border-radius:3px;border-radius:3px;-webkit-transition:background-color .1s linear;-o-transition:background-color .1s linear;-moz-transition:background-color .1s linear;transition:background-color .1s linear}.owl-dt-control-period-button:hover>.owl-dt-control-button-content{background-color:rgba(0,0,0,.12)}.owl-dt-control-arrow-button .owl-dt-control-button-content{padding:0;-moz-border-radius:50%;border-radius:50%;width:1.5em;height:1.5em}.owl-dt-control-arrow-button[disabled]{color:rgba(0,0,0,.4);cursor:default}.owl-dt-control-arrow-button svg{width:.8em;height:.8em;fill:currentColor}.owl-dt-inline-container,.owl-dt-popup-container{position:relative;width:300px;-webkit-box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);-moz-box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)}.owl-dt-inline-container .owl-dt-calendar,.owl-dt-inline-container .owl-dt-timer,.owl-dt-popup-container .owl-dt-calendar,.owl-dt-popup-container .owl-dt-timer{width:100%}.owl-dt-inline-container .owl-dt-calendar,.owl-dt-popup-container .owl-dt-calendar{height:340px}.owl-dt-inline-container{display:inline-block}.owl-dt-dialog-container{max-height:85vh;margin:-1.5em}.owl-dt-dialog-container .owl-dt-calendar{min-width:250px;min-height:330px;max-width:750px;max-height:750px}.owl-dt-dialog-container .owl-dt-timer{min-width:250px;max-width:750px}@media all and (orientation:landscape){.owl-dt-dialog-container .owl-dt-calendar{width:60vh;height:60vh}.owl-dt-dialog-container .owl-dt-timer{width:60vh}}@media all and (orientation:portrait){.owl-dt-dialog-container .owl-dt-calendar{width:80vw;height:80vw}.owl-dt-dialog-container .owl-dt-timer{width:80vw}}.owl-dt-container-buttons{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;width:100%;height:2em;color:#3f51b5}.owl-dt-container-control-button{width:50%;height:100%;-moz-border-radius:0;border-radius:0}.owl-dt-container-control-button .owl-dt-control-button-content{height:100%;width:100%;-webkit-transition:background-color .1s linear;-o-transition:background-color .1s linear;-moz-transition:background-color .1s linear;transition:background-color .1s linear}.owl-dt-container-control-button:hover .owl-dt-control-button-content{background-color:rgba(0,0,0,.1)}.owl-dt-container-info{padding:0 .5em;cursor:pointer;-webkit-tap-highlight-color:transparent}.owl-dt-container-info .owl-dt-container-range{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-moz-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:.5em 0;font-size:.8em}.owl-dt-container-info .owl-dt-container-range:last-child{border-top:1px solid rgba(0,0,0,.12)}.owl-dt-container-info .owl-dt-container-info-active{color:#3f51b5}.owl-dt-container-disabled,.owl-dt-trigger-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none;cursor:default!important}.owl-dt-timer-hour12{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-moz-box-align:center;-ms-flex-align:center;align-items:center;color:#3f51b5}.owl-dt-timer-hour12 .owl-dt-timer-hour12-box{border:1px solid currentColor;-moz-border-radius:2px;border-radius:2px;-webkit-transition:background .2s ease;-o-transition:background .2s ease;-moz-transition:background .2s ease;transition:background .2s ease}.owl-dt-timer-hour12 .owl-dt-timer-hour12-box .owl-dt-control-button-content{width:100%;height:100%;padding:.5em}.owl-dt-timer-hour12 .owl-dt-timer-hour12-box:focus .owl-dt-control-button-content,.owl-dt-timer-hour12 .owl-dt-timer-hour12-box:hover .owl-dt-control-button-content{background:#3f51b5;color:#fff}
