.tracker-block{max-width: 500px; margin: auto; font-size: 20px; border-radius: 4px;}
.contai{margin: 15px; padding:35px 15px;}
h3{font-size: 20px; margin: 0;}
.colorGreen{color: #00c853}
.colorRed{color: red}