<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">  
        <div class="login-blk">
          <app-header-valid-user></app-header-valid-user>
          <div class="deskWidth">
          <div class="inner-page-title">
          <h3 *ngIf="changeUiForNew">Add Business Profile Topic</h3>

          <h2 *ngIf="!changeUiForNew" >business profile</h2><a *ngIf="!changeUiForNew"  href="javascript:void(0)" (click)="helpText()"><img src="../../assets/question.png"/></a>
 
          </div>
          <div *ngIf="!changeUiForNew" class="strips">
            <div class="row">
              <div class="col-12">
                  <div class="col-4 green-strip"></div>
                  <div class="col-4 green-strip"></div>
                  <div class="col-4 grey-strip"></div>
              </div>
            </div>
          </div>
          <simple-notifications [options]="options"></simple-notifications>
          <form [formGroup]="businessProfile" (ngSubmit)="onSubmit(businessProfile, businessProfile.valid)" novalidate>
          <div class="form input-section">
            <!--<input type="hidden" [(ngModel)]="item_id" formControlName="item_id"> -->
            <div class="busImg">
              <div class="fileUpload defaultImgText">
                 <img *ngIf="imgLoading" src="../assets/ripple.gif" class="newLoader" style="position:absolute; z-index: 999; left:32%;  top:10px;" />
                 <img class="profImg" *ngIf="isThereImge" [src]="imgbase64src" style="border: 1px solid #ccc" >
                <img *ngIf="!isThereImge" src="../../assets/photo-camera.png" class="all-icon" />
                 <input type="file"  name="profileImagebtn" id="uploadimg" (change)="fileChangeEvent($event)"  class="upload"  />
                <p>Upload business logo</p>
                <small>(This will be used as your profile picture)</small>
              </div>
               <input type="hidden" class="myInputStyle" id="topic" [(ngModel)]="profileImageId" formControlName="field_business_profile_topic_ima" required>
               <div [hidden]="businessProfile.controls['field_business_profile_topic_ima'].valid || businessProfile.controls['field_business_profile_topic_ima'].pristine" class="inline-error">
                Upload your profile picture.
              </div>
            </div>
            <div class="form-group filled-form">
              <label for="topic">Topic</label>
              <input type="text" class="myInputStyle" id="topic" formControlName="field_topic" required>
              <div [hidden]="businessProfile.controls['field_topic'].valid || businessProfile.controls['field_topic'].pristine" class="inline-error">
                Somethings not right
              </div>
            </div>
            <div class="form-group filled-form busDesc">
              <label for="busDesc">Description</label>
              <textarea id="busDesc" formControlName="field_business_profile_topic_des" required></textarea>
              <div [hidden]="businessProfile.controls['field_business_profile_topic_des'].valid || businessProfile.controls['field_business_profile_topic_des'].pristine" class="inline-error">
                Somethings not right
              </div>
            </div>
          </div>
         
          <div *ngIf="!changeUiForNew" class="goToNextBtn bgGrey">
            <button type="submit" class="btn btn-primary" [disabled]="businessProfile.invalid">Save business profile</button>
          </div>

          <div *ngIf="changeUiForNew" class="goToNextBtn bgGrey">
            <div class="row">
              <div class="col-6">
                <button type="submit" [disabled]="!businessProfile.valid" class="btn btn-primary">save</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary cancel" (click)="userProfileView()">cancel</button>
              </div>
            </div>
          </div>

           </form>
        </div>
        </div>
    </section>
  </div>
  </div>
</div>
  <app-help-modal [visible]="helpShow" (closeSection)="helpText()"></app-help-modal>