<div class="container-fluid">
    <div class="row">
      <div class="col-12">
       <section id="login">  
        <div class="login-blk">
          <app-header-valid-user></app-header-valid-user>
          <div class="deskWidth">
          <div class="inner-page-title">
            <h2>business profile</h2><a (click)= "helpText()"><img src="../../assets/question.png"/></a>
          </div>
          <div class="strips">
            <div class="row">
              <div class="col-12">
                  <div class="col-4 green-strip"></div>
                  <div class="col-4 green-strip"></div>
                  <div class="col-4 grey-strip"></div>
              </div>
            </div>
          </div>
          <simple-notifications [options]="options"></simple-notifications>
          <form [formGroup]="registerUser" (ngSubmit)="onSubmit(registerUser, registerUser.valid)" novalidate>
          <div class="form input-section">
            <div class="busImg">
              <div class="defaultImgText">
                <img src="../../assets/photo-camera.png" class="all-icon" />
                <p>Upload business logo</p>
                <small>(This will be used as your profile picture)</small>
              </div>
            </div>
            <div class="form-group filled-form">
              <label for="topic">Topic</label>
              <input type="text" class="myInputStyle" id="topic" formControlName="businessname" required>
              <div [hidden]="registerUser.controls['businessname'].valid || registerUser.controls['businessname'].pristine" class="inline-error">
                Somethings not right
              </div>
            </div>
            <div class="form-group filled-form busDesc">
              <label for="busDesc">Description</label>
              <textarea id="busDesc" formControlName="businessdesc" required></textarea>
              <div [hidden]="registerUser.controls['businessdesc'].valid || registerUser.controls['businessdesc'].pristine" class="inline-error">
                Somethings not right
              </div>
            </div>
          </div>
          </form>
          <div class="goToNextBtn bgGrey">
            <button type="button" class="btn btn-primary" (click)="viewProfile()" [disabled]="registerUser.invalid">Save business profile</button>
          </div>
        </div>
        </div>
    </section>
  </div>
  </div>
</div>
 <!-- <app-help-modal [visible]="helpShow" (closeSection)="helpText()"></app-help-modal> -->